.modal-background {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(0 0 0/50%) 0 0);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInBackground 0.2s;
}

.modal-container {
  width: 60%;
  max-height: 85%;
  border-radius: 12px;
  background-color: #424242;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  animation: fadeInModal 0.3s;
  overflow-y: auto;
}

.algo-modal-container {
  width: 60%;
  max-height: 85%;
  border-radius: 12px;
  background-color: #424242;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  animation: fadeInModal 0.3s;
  overflow-y: auto;
}

@media screen and (max-width: 960px) {
  .modal-container {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .algo-modal-container {
    width: 80%;
  }
}

.info-modal-container {
  overflow-y: auto;
}

@keyframes fadeInModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title-close-btn {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.title-close-btn button {
  background-color: transparent;
  height: 40px;
  aspect-ratio: 1;
  color: #c9c7c7;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  cursor: pointer;
}

.title-close-btn button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.title-close-btn button:active {
  background-color: rgba(255, 255, 255, 0.4);
  transition: 0.3s;
}

.modal-container .body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.link {
  color: rgb(255, 145, 0);
}
