.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: #222222;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.coordinate-container {
  position: relative;
  height: 96%;
  aspect-ratio: 1/1;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #424242;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.side-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
  background-color: #424242;
  padding: 16px;
  overflow-y: auto;
}

@media screen and (max-width: 960px) {
  .container {
    flex-direction: column-reverse;
  }

  .main-container {
    height: 50%;
  }

  .side-container {
    width: auto;
  }
}

.coordinate {
  height: 15px;
  width: 15px;
  background-color: rgb(54, 113, 223);
  border-radius: 50%;
  margin-left: -7.5px;
  margin-top: -7.5px;
}

.coordinate:first-child {
  background-color: rgb(255, 89, 0);
}

.line {
  position: absolute;
  border-bottom: 4px solid transparent;
  width: 4%;
  transform-origin: left;
  z-index: -1;
}

.line-break {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.12);
}

.intro-info-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.intro-title {
  text-align: center;
}

.intro-description {
  color: #c9c7c7;
}

.click-here {
  color: rgb(255, 145, 0);
}

.stats-info-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.controls-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 145, 0);
  padding: 16px;
  border-radius: 10px;
}

.algorithm-select {
  display: flex;
  flex-direction: column;
}

.algorithm-choose-and-info {
  display: flex;
  flex-direction: row;
}

.controls-select {
  display: flex;
  flex-direction: column;
}

.controls-choose {
  display: flex;
  flex-direction: row;
}

.delay-select {
  display: flex;
  flex-direction: column;
}

.points-select {
  display: flex;
  flex-direction: column;
}

.points-choose {
  display: flex;
  flex-direction: row;
}

.legend-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.legend-item {
  flex-direction: row;
  align-items: center;
}

.legend-red-point {
  height: 15px;
  width: 15px;
  background-color: rgb(255, 89, 0);
  border-radius: 50%;
  margin: 0 auto;
}

.legend-blue-point {
  height: 15px;
  width: 15px;
  background-color: rgb(54, 113, 223);
  border-radius: 50%;
  margin: 0 auto;
}

.legend-orange-line {
  border-bottom: 4px solid rgb(255, 89, 0);
  width: 15px;
  margin: 0 auto;
}

.legend-grey-line {
  border-bottom: 4px solid rgb(201, 199, 199);
  width: 15px;
  margin: 0 auto;
}

.legend-green-line {
  border-bottom: 4px solid rgb(0, 200, 0);
  width: 15px;
  margin: 0 auto;
}

.points-legend-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.lines-legend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.line-item {
  text-align: center;
  box-sizing: border-box;
  width: 33%;
}

.copyright-container {
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
}
