.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-container {
  height: 100%;
  width: 100%;
  border: 1px solid green;
}

.coordinate-container {
  position: relative;
  height: 750px;
  width: 750px;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
  border: 1px solid black;
}

.side-container {
  height: 100%;
  width: 35%;
  border: 1px solid red;
}

.coordinate {
  height: 15px;
  width: 15px;
  background-color: aqua;
  border-radius: 50%;
  margin-left: -7.5px;
  margin-top: -7.5px;
}

.coordinate:first-child {
  background-color: red;
}

.line {
  position: absolute;
  border-bottom: 3px solid transparent;
  width: 4%;
  transform-origin: left;
}
